/* Globaal styling */
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stars{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.star{
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}
